<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.knime.workbench.repository.nodes">
<!--      <node
            category-path="/flowcontrol/quickforms/input"
            factory-class="org.knime.js.base.node.quickform.input.credentials.CredentialsInputQuickFormNodeFactory"
            >
      </node>
-->
      <!-- <node
            factory-class="org.knime.base.node.preproc.select.value.InteractiveValueSelectNodeFactory"
            >
      </node> -->
      <!-- <node
            after="org.knime.js.base.node.viz.table.WebTableViewNodeFactory"
            category-path="/labs/interactiveView"
            factory-class="org.knime.js.base.node.rowselector.RowSelectorNodeFactory"
            /> -->
      <node
            category-path="/view/js-views"
            factory-class="org.knime.js.base.node.viz.pagedTable.PagedTableViewNodeFactory"
            >
      </node>
      <node
            after="org.knime.js.base.node.viz.pagedTable.PagedTableViewNodeFactory"
            category-path="/view/js-views"
            factory-class="org.knime.js.base.node.viz.plotter.scatterSelectionAppender.ScatterPlotNodeFactory">
      </node>
      <!-- <node
            after="org.knime.js.base.node.viz.plotter.scatter.ScatterPlotNodeFactory"
            category-path="/labs/interactiveView"
            factory-class="org.knime.js.base.node.viz.plotter.scatter_own.WebScatterPlotterNodeFactory"
            >
      </node> -->
      <!-- <node
            after="org.knime.js.base.node.viz.plotter.scatter_own.WebScatterPlotterNodeFactory"
            category-path="/labs/interactiveView"
            factory-class="org.knime.js.base.node.viz.plotter.line.WebLinePlotterNodeFactory"
            /> -->
      <node
            after="org.knime.js.base.node.viz.plotter.scatterSelectionAppender.ScatterPlotNodeFactory"
            category-path="/view/js-views"
            factory-class="org.knime.js.base.node.viz.plotter.line.LinePlotNodeFactory">
      </node>
      <node
            after="org.knime.js.base.node.viz.plotter.line.LinePlotNodeFactory"
            category-path="/view/js-views"
            factory-class="org.knime.js.base.node.viz.plotter.lift.LiftChartNodeFactory">
      </node>
      <node
            after="org.knime.js.base.node.viz.plotter.lift.LiftChartNodeFactory"
            category-path="/view/js-views"
            factory-class="org.knime.js.base.node.viz.plotter.roc.ROCCurveNodeFactory">
      </node>
      <node
            after="org.knime.js.base.node.viz.plotter.roc.ROCCurveNodeFactory"
            category-path="/view/js-views"
            deprecated="false"
            factory-class="org.knime.js.base.node.viz.decisiontree.classification.DecisionTreeViewNodeFactory">
      </node>
      <node
            after="org.knime.js.base.node.viz.decisiontree.classification.DecisionTreeViewNodeFactory"
            category-path="/view/js-views"
            factory-class="org.knime.js.base.node.viz.generic3.GenericJSViewNodeFactory">
      </node>
   </extension>
   <extension
         point="org.knime.js.core.webResources">
      <webResourceBundle
            debug="true"
            name="Universal Date Formatter"
            version="1.2.3"
            webResourceBundleID="org.knime.js.base.util.dateFormat.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/util/dateFormat/"
               relativePathTarget="org/knime/js/base/util/dateFormat/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/util/dateFormat/date-format.js"
               type="JAVASCRIPT">
         </importResource>
      </webResourceBundle>
<!--      <webResourceBundle
            debug="true"
            name="Credentials Input Quickform"
            version="1.0.0"
            webResourceBundleID="org.knime.js.base.node.quickform.input.credentials.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/quickform/input/credentials/"
               relativePathTarget="org/knime/js/base/node/quickform/input/credentials/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/node/quickform/input/credentials/CredentialsInput.js"
               type="JAVASCRIPT">
         </importResource>
         <webDependency
               webResourceBundleID="KnimeQuickformUtils_1.0.0">
         </webDependency>
      </webResourceBundle> -->
      
      <!-- <webResourceBundle
            debug="true"
            name="Line Plotter"
            version="1.0.0"
            webResourceBundleID="org.knime.js.base.node.viz.plotter.line.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/viz/plotter/line/"
               relativePathTarget="org/knime/js/base/node/viz/plotter/line/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/node/viz/plotter/line/web-template.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="org/knime/js/base/node/viz/plotter/line/styles.css"
               type="CSS">
         </importResource>
         <webDependency
               webResourceBundleID="D3_3.2.8_Debug">
         </webDependency>
         <webDependency
               webResourceBundleID="KnimeTable_1.0.0">
         </webDependency>
      </webResourceBundle> -->
      <!-- <webResourceBundle
            debug="true"
            name="Row Selector"
            version="1.0.0"
            webResourceBundleID="org.knime.js.base.node.rowselector.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/rowselector/"
               relativePathTarget="org/knime/js/base/node/rowselector/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/node/rowselector/web-template.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="org/knime/js/base/node/rowselector/styles.css"
               type="CSS">
         </importResource>
         <webDependency
               webResourceBundleID="jQuery_1.11.0">
         </webDependency>
         <webDependency
               webResourceBundleID="KnimeTable_1.0.0">
         </webDependency>
      </webResourceBundle> -->
      <webResourceBundle
            debug="true"
            name="Table"
            version="1.0.0"
            webResourceBundleID="org.knime.js.base.node.viz.table.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/viz/table/"
               relativePathTarget="org/knime/js/base/node/viz/table/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/node/viz/table/web-template.js"
               type="JAVASCRIPT">
         </importResource>
         <webDependency
               webResourceBundleID="jQuery_1.11.0">
         </webDependency>
         <webDependency
               webResourceBundleID="KnimeTable_1.0.0">
         </webDependency>
         <webDependency
               webResourceBundleID="KnimeTableView_1.0.0">
         </webDependency>
         <webDependency
               webResourceBundleID="jQueryNumberFormat_2.1.3">
         </webDependency>
      </webResourceBundle>
      <!-- <webResourceBundle
            debug="true"
            name="Scatter Plot Own"
            version="1.0.0"
            webResourceBundleID="org.knime.js.base.node.viz.plotter.scatter_own.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/viz/plotter/scatter_own/"
               relativePathTarget="org/knime/js/base/node/viz/plotter/scatter_own/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/node/viz/plotter/scatter_own/web-template.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="org/knime/js/base/node/viz/plotter/scatter_own/styles.css"
               type="CSS">
         </importResource>
         <webDependency
               webResourceBundleID="D3_3.2.8">
         </webDependency>
         <webDependency
               webResourceBundleID="KnimeTable_1.0.0">
         </webDependency>
      </webResourceBundle> -->
      <webResourceBundle
            debug="true"
            name="KNIME Table View"
            version="1.0.0"
            webResourceBundleID="KnimeTableView_1.0.0">
         <webResource
               relativePathSource="js-src/org/knime/js/base/util/table/view/"
               relativePathTarget="org/knime/js/base/util/table/view/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/util/table/view/knime_table_view_1_0_0.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="org/knime/js/base/util/table/view/styles.css"
               type="CSS">
         </importResource>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="Generic JavaScript View v1"
            version="1.0.0"
            webResourceBundleID="GenericJSView_1_0_0">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/viz/generic/knime-generic-view.js"
               relativePathTarget="org/knime/js/base/node/viz/generic/knime-generic-view.js">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/node/viz/generic/knime-generic-view.js"
               type="JAVASCRIPT">
         </importResource>
         <webDependency
               webResourceBundleID="RequireJS_2.1.8">
         </webDependency>
         <webDependency
               webResourceBundleID="KnimeTable_1.0.0">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="Generic JavaScript View v3"
            version="3.0.0"
            webResourceBundleID="GenericJSView_3_0_0">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/viz/generic/knime-generic-view-v3.js"
               relativePathTarget="org/knime/js/base/node/viz/generic/knime-generic-view-v3.js">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/node/viz/generic/knime-generic-view-v3.js"
               type="JAVASCRIPT">
         </importResource>
         <webDependency
               webResourceBundleID="RequireJS_2.3.3">
         </webDependency>
         <webDependency
               webResourceBundleID="KnimeTable_1.0.0">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="Scatter Plot (Deprecated)"
            version="1.0.0"
            webResourceBundleID="org.knime.js.base.node.viz.plotter.scatter.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/viz/plotter/scatter/"
               relativePathTarget="org/knime/js/base/node/viz/plotter/scatter/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/node/viz/plotter/scatter/knime-scatter-plot.js"
               type="JAVASCRIPT">
         </importResource>
         <webDependency
               webResourceBundleID="jsFreeChart_0.5">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="Line Plot"
            version="1.0.0"
            webResourceBundleID="org.knime.js.base.node.viz.plotter.line.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/viz/plotter/line/"
               relativePathTarget="org/knime/js/base/node/viz/plotter/line/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/node/viz/plotter/line/knime-line-plot.js"
               type="JAVASCRIPT">
         </importResource>
         <webDependency
               webResourceBundleID="jsFreeChart_0.5">
         </webDependency>
         <webDependency
               webResourceBundleID="MultipleSelections">
         </webDependency>
         <webDependency
               webResourceBundleID="org.knime.js.base.util.dateFormat.bundle">
         </webDependency>
         <webDependency
               webResourceBundleID="moment_timezone_locales_2_17">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="Scatter Plot"
            version="1.0.0"
            webResourceBundleID="org.knime.js.base.node.viz.plotter.scatterSelectionAppender.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/viz/plotter/scatterSelectionAppender/"
               relativePathTarget="org/knime/js/base/node/viz/plotter/scatterSelectionAppender/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/node/viz/plotter/scatterSelectionAppender/knime-scatter-plot.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="org/knime/js/base/node/viz/plotter/scatterSelectionAppender/knime-scatter-plot.css"
               type="CSS">
         </importResource>
         <webDependency
               webResourceBundleID="jsFreeChart_0.5">
         </webDependency>
         <webDependency
               webResourceBundleID="org.knime.js.base.util.dateFormat.bundle">
         </webDependency>
         <webDependency
               webResourceBundleID="moment_timezone_locales_2_17">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="ROC Curve"
            version="1.0.0"
            webResourceBundleID="org.knime.js.base.node.viz.plotter.roc.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/viz/plotter/roc/"
               relativePathTarget="org/knime/js/base/node/viz/plotter/roc/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/node/viz/plotter/roc/knime-roc-plot.js"
               type="JAVASCRIPT">
         </importResource>
         <webDependency
               webResourceBundleID="D3_3.2.8">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="Lift Chart"
            version="1.0"
            webResourceBundleID="org.knime.js.base.node.viz.plotter.lift.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/viz/plotter/lift/"
               relativePathTarget="org/knime/js/base/node/viz/plotter/lift/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/node/viz/plotter/lift/knime-lift-chart.js"
               type="JAVASCRIPT">
         </importResource>
         <webDependency
               webResourceBundleID="D3_3.2.8">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="Paged Table"
            usesDefine="false"
            version="1.0"
            webResourceBundleID="org.knime.js.base.node.viz.pagedTable.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/viz/pagedTable/"
               relativePathTarget="org/knime/js/base/node/viz/pagedTable/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/node/viz/pagedTable/knime-paged-table.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="org/knime/js/base/node/viz/pagedTable/knime-paged-table.css"
               type="CSS">
         </importResource>
         <webDependency
               webResourceBundleID="KnimeTable_1.0.0">
         </webDependency>
         <webDependency
               webResourceBundleID="moment_timezone_locales_2_17">
         </webDependency>
         <webDependency
               webResourceBundleID="dataTables_1_10_11_bootstrap">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="decTreeDrawer"
            usesDefine="false"
            version="1.0.0"
            webResourceBundleID="decTreeDrawer">
         <webResource
               relativePathSource="js-src/org/knime/js/base/util/decisionTree/"
               relativePathTarget="src/org/knime/js/base/util/decisionTree/">
         </webResource>
         <importResource
               relativePath="src/org/knime/js/base/util/decisionTree/decTreeDrawer.js"
               type="JAVASCRIPT">
         </importResource>
         <webDependency
               webResourceBundleID="d3-flextree_1.0.3_debug">
         </webDependency>
         <webDependency
               webResourceBundleID="d3-tip_1.0.0">
         </webDependency>
         <importResource
               relativePath="src/org/knime/js/base/util/decisionTree/decTreeDrawer.css"
               type="CSS">
         </importResource>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="Decision Tree"
            usesDefine="false"
            version="1.0.0"
            webResourceBundleID="org.knime.js.base.node.viz.decisiontree.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/viz/decisiontree/"
               relativePathTarget="src/org/knime/js/base/node/viz/decisiontree/">
         </webResource>
         <importResource
               relativePath="src/org/knime/js/base/node/viz/decisiontree/decisiontree.js"
               type="JAVASCRIPT">
         </importResource>
         <webDependency
               webResourceBundleID="decTreeDrawer">
         </webDependency>
         <webDependency
               webResourceBundleID="wNumb">
         </webDependency>
      </webResourceBundle>
   </extension>
   <extension
         point="org.knime.js.core.javascriptComponents">
      <javascriptComponent
            getComponentValue-method-name="getComponentValue"
            implementationBundleID="org.knime.js.base.node.viz.table.bundle"
            init-method-name="init"
            javascriptComponentID="knime_table_viewer"
            name="Table Viewer"
            namespace="knime_table_viewer"
            setValidationError-method-name="setValidationErrorMessage"
            validate-method-name="validate">
      </javascriptComponent>
      <javascriptComponent
            getComponentValue-method-name="getComponentValue"
            implementationBundleID="GenericJSView_1_0_0"
            init-method-name="init"
            javascriptComponentID="knime_generic_view"
            name="Generic JavaScript View v1"
            namespace="knime_generic_view"
            validate-method-name="validate">
      </javascriptComponent>
      <javascriptComponent
            getComponentValue-method-name="getComponentValue"
            implementationBundleID="GenericJSView_3_0_0"
            init-method-name="init"
            javascriptComponentID="knime_generic_view_v3"
            name="Generic JavaScript View v3"
            namespace="knime_generic_view"
            setValidationError-method-name="setValidationError"
            validate-method-name="validate">
      </javascriptComponent>
      <javascriptComponent
            getComponentValue-method-name="getComponentValue"
            implementationBundleID="org.knime.js.base.node.viz.plotter.scatterSelectionAppender.bundle"
            init-method-name="init"
            javascriptComponentID="org.knime.js.base.node.viz.plotter.scatterSelectionAppender"
            name="Scatter Chart"
            namespace="knime_scatter_plot_selection_appender"
            validate-method-name="validate">
      </javascriptComponent>
      <javascriptComponent
            getComponentValue-method-name="getComponentValue"
            implementationBundleID="org.knime.js.base.node.viz.plotter.line.bundle"
            init-method-name="init"
            javascriptComponentID="org.knime.js.base.node.viz.plotter.line"
            name="Line Chart"
            namespace="knime_line_plot"
            setValidationError-method-name="setValidationError"
            validate-method-name="validate">
      </javascriptComponent>
      <javascriptComponent
            getComponentValue-method-name="getComponentValue"
            implementationBundleID="org.knime.js.base.node.viz.plotter.scatter.bundle"
            init-method-name="init"
            javascriptComponentID="org_knime_js_base_node_viz_plotter_scatter"
            name="Scatter Chart (Deprecated)"
            namespace="knime_scatter_plot"
            validate-method-name="validate">
      </javascriptComponent>
      <javascriptComponent
            getComponentValue-method-name="getComponentValue"
            implementationBundleID="org.knime.js.base.node.viz.plotter.roc.bundle"
            init-method-name="init"
            javascriptComponentID="org.knime.js.base.node.viz.plotter.roc"
            name="ROC Curve"
            namespace="knime_roc_curve"
            setValidationError-method-name="setValidationError"
            validate-method-name="validate">
      </javascriptComponent>
      <javascriptComponent
            getComponentValue-method-name="getComponentValue"
            implementationBundleID="org.knime.js.base.node.viz.plotter.lift.bundle"
            init-method-name="init"
            javascriptComponentID="org.knime.js.base.node.viz.plotter.lift"
            name="Lift Chart"
            namespace="knime_lift_chart"
            setValidationError-method-name="setValidationError"
            validate-method-name="validate">
      </javascriptComponent>
      <javascriptComponent
            getComponentValue-method-name="getComponentValue"
            implementationBundleID="org.knime.js.base.node.viz.pagedTable.bundle"
            init-method-name="init"
            javascriptComponentID="org.knime.js.base.node.viz.pagedTable"
            name="Paged Table"
            namespace="knime_paged_table"
            setValidationError-method-name="setValidationError"
            validate-method-name="validate">
      </javascriptComponent>
      <javascriptComponent
            getComponentValue-method-name="getComponentValue"
            implementationBundleID="org.knime.js.base.node.viz.decisiontree.bundle"
            init-method-name="init"
            javascriptComponentID="org.knime.js.base.node.viz.decisiontree"
            name="Decision Tree View"
            namespace="knime_decision_tree"
            setValidationError-method-name="setValidationError"
            validate-method-name="validate">
      </javascriptComponent>
   </extension>
</plugin>
