.knime-table-container.knime-table-editor {
    margin: 10px;
    overflow: auto;
}

h1 {
    font-family: sans-serif;
    font-size: 24px;
    margin: 0;
}

h2 {
    font-family: sans-serif;
    font-size: 14px;
    margin: 5px 0 15px 0;
}

.knime-table-container.knime-table-editor .col-lg-1:first-child,
.knime-table-container.knime-table-editor .col-lg-10:first-child,
.knime-table-container.knime-table-editor .col-lg-11:first-child,
.knime-table-container.knime-table-editor .col-lg-12:first-child,
.knime-table-container.knime-table-editor .col-lg-2:first-child,
.knime-table-container.knime-table-editor .col-lg-3:first-child,
.knime-table-container.knime-table-editor .col-lg-4:first-child,
.knime-table-container.knime-table-editor .col-lg-5:first-child,
.knime-table-container.knime-table-editor .col-lg-6:first-child,
.knime-table-container.knime-table-editor .col-lg-7:first-child,
.knime-table-container.knime-table-editor .col-lg-8:first-child,
.knime-table-container.knime-table-editor .col-lg-9:first-child,
.knime-table-container.knime-table-editor .col-md-1:first-child,
.knime-table-container.knime-table-editor .col-md-10:first-child,
.knime-table-container.knime-table-editor .col-md-11:first-child,
.knime-table-container.knime-table-editor .col-md-12:first-child,
.knime-table-container.knime-table-editor .col-md-2:first-child,
.knime-table-container.knime-table-editor .col-md-3:first-child,
.knime-table-container.knime-table-editor .col-md-4:first-child,
.knime-table-container.knime-table-editor .col-md-5:first-child,
.knime-table-container.knime-table-editor .col-md-6:first-child,
.knime-table-container.knime-table-editor .col-md-7:first-child,
.knime-table-container.knime-table-editor .col-md-8:first-child,
.knime-table-container.knime-table-editor .col-md-9:first-child,
.knime-table-container.knime-table-editor .col-sm-1:first-child,
.knime-table-container.knime-table-editor .col-sm-10:first-child,
.knime-table-container.knime-table-editor .col-sm-11:first-child,
.knime-table-container.knime-table-editor .col-sm-12:first-child,
.knime-table-container.knime-table-editor .col-sm-2:first-child,
.knime-table-container.knime-table-editor .col-sm-3:first-child,
.knime-table-container.knime-table-editor .col-sm-4:first-child,
.knime-table-container.knime-table-editor .col-sm-5:first-child,
.knime-table-container.knime-table-editor .col-sm-6:first-child,
.knime-table-container.knime-table-editor .col-sm-7:first-child,
.knime-table-container.knime-table-editor .col-sm-8:first-child,
.knime-table-container.knime-table-editor .col-sm-9:first-child,
.knime-table-container.knime-table-editor .col-xs-1:first-child,
.knime-table-container.knime-table-editor .col-xs-10:first-child,
.knime-table-container.knime-table-editor .col-xs-11:first-child,
.knime-table-container.knime-table-editor .col-xs-12:first-child,
.knime-table-container.knime-table-editor .col-xs-2:first-child,
.knime-table-container.knime-table-editor .col-xs-3:first-child,
.knime-table-container.knime-table-editor .col-xs-4:first-child,
.knime-table-container.knime-table-editor .col-xs-5:first-child,
.knime-table-container.knime-table-editor .col-xs-6:first-child,
.knime-table-container.knime-table-editor .col-xs-7:first-child,
.knime-table-container.knime-table-editor .col-xs-8:first-child,
.knime-table-container.knime-table-editor .col-xs-9:first-child {
    padding-left: 0;
}

.knime-table-container.knime-table-editor .col-lg-1:last-child,
.knime-table-container.knime-table-editor .col-lg-10:last-child,
.knime-table-container.knime-table-editor .col-lg-11:last-child,
.knime-table-container.knime-table-editor .col-lg-12:last-child,
.knime-table-container.knime-table-editor .col-lg-2:last-child,
.knime-table-container.knime-table-editor .col-lg-3:last-child,
.knime-table-container.knime-table-editor .col-lg-4:last-child,
.knime-table-container.knime-table-editor .col-lg-5:last-child,
.knime-table-container.knime-table-editor .col-lg-6:last-child,
.knime-table-container.knime-table-editor .col-lg-7:last-child,
.knime-table-container.knime-table-editor .col-lg-8:last-child,
.knime-table-container.knime-table-editor .col-lg-9:last-child,
.knime-table-container.knime-table-editor .col-md-1:last-child,
.knime-table-container.knime-table-editor .col-md-10:last-child,
.knime-table-container.knime-table-editor .col-md-11:last-child,
.knime-table-container.knime-table-editor .col-md-12:last-child,
.knime-table-container.knime-table-editor .col-md-2:last-child,
.knime-table-container.knime-table-editor .col-md-3:last-child,
.knime-table-container.knime-table-editor .col-md-4:last-child,
.knime-table-container.knime-table-editor .col-md-5:last-child,
.knime-table-container.knime-table-editor .col-md-6:last-child,
.knime-table-container.knime-table-editor .col-md-7:last-child,
.knime-table-container.knime-table-editor .col-md-8:last-child,
.knime-table-container.knime-table-editor .col-md-9:last-child,
.knime-table-container.knime-table-editor .col-sm-1:last-child,
.knime-table-container.knime-table-editor .col-sm-10:last-child,
.knime-table-container.knime-table-editor .col-sm-11:last-child,
.knime-table-container.knime-table-editor .col-sm-12:last-child,
.knime-table-container.knime-table-editor .col-sm-2:last-child,
.knime-table-container.knime-table-editor .col-sm-3:last-child,
.knime-table-container.knime-table-editor .col-sm-4:last-child,
.knime-table-container.knime-table-editor .col-sm-5:last-child,
.knime-table-container.knime-table-editor .col-sm-6:last-child,
.knime-table-container.knime-table-editor .col-sm-7:last-child,
.knime-table-container.knime-table-editor .col-sm-8:last-child,
.knime-table-container.knime-table-editor .col-sm-9:last-child,
.knime-table-container.knime-table-editor .col-xs-1:last-child,
.knime-table-container.knime-table-editor .col-xs-10:last-child,
.knime-table-container.knime-table-editor .col-xs-11:last-child,
.knime-table-container.knime-table-editor .col-xs-12:last-child,
.knime-table-container.knime-table-editor .col-xs-2:last-child,
.knime-table-container.knime-table-editor .col-xs-3:last-child,
.knime-table-container.knime-table-editor .col-xs-4:last-child,
.knime-table-container.knime-table-editor .col-xs-5:last-child,
.knime-table-container.knime-table-editor .col-xs-6:last-child,
.knime-table-container.knime-table-editor .col-xs-7:last-child,
.knime-table-container.knime-table-editor .col-xs-8:last-child,
.knime-table-container.knime-table-editor .col-xs-9:last-child {
    padding-right: 0;
}

.knime-table-container.knime-table-editor .row {
    margin: 0;
}

.knime-table-container.knime-table-editor .dataTables_wrapper .dt-buttons.btn-group {
    width: auto;
}

.knime-table-container.knime-table-editor table.knime-table td.no-break {
    white-space: nowrap;
}

.knime-table-container.knime-table-editor table.knime-table td.no-break .rowKey {
    white-space: normal;
}

.knime-table-container.knime-table-editor table.knime-table td .knime-missing-value-cell {
    color: #d9534f;
}

.knime-table-container.knime-table-editor table.knime-table td.knime-selected {
    outline: none;  
}

.knime-table-container.knime-table-editor table.knime-table td.knime-selected input {
    color: initial;
    width: 100%;        
    padding-top: 0px;
    padding-bottom: 0px;
    border: 0px;
    outline: none;
}

.knime-table-container.knime-table-editor table.knime-table #checkbox-select-all,
.knime-table-container.knime-table-editor table.knime-table #clear-selection-button,
.knime-table-container.knime-table-editor table.knime-table td.selection-cell input[type=checkbox], 
.knime-table-container.knime-table-editor table.knime-table td.selection-cell input[type=radio] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.knime-table-container.knime-table-editor table.knime-table #clear-selection-button {
    border: none;
    font-size: 14px;
}

.knime-table-container.knime-table-editor table.knime-table #clear-selection-button span.glyphicon{
    display: block;
    padding-bottom: 3px;
}

.knime-table-container.knime-table-editor table.knime-table input[type=number] {
    -moz-appearance:textfield;
}
.knime-table-container.knime-table-editor table.knime-table input[type=number]::-webkit-outer-spin-button,
.knime-table-container.knime-table-editor table.knime-table input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.knime-table-container.knime-table-editor table.knime-table th span {
    opacity: 0.2;
    float: right;
    padding-top: 2px;
}

.knime-autosuggest-dropdown {
    background-color: inherit;
    color: inherit;
    border: none;
    outline: none;
    width: 100%;
}
