<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/flowcontrol/quickforms/quickform-old"
            factory-class="org.knime.quickform.nodes.in.string.StringInputQuickFormInNodeFactory"
            >
      </node>
      <node
            category-path="/flowcontrol/quickforms/quickform-old"
            factory-class="org.knime.quickform.nodes.in.dummy.DummyInputQuickFormInNodeFactory"
            >
      </node>
      <node
            category-path="/flowcontrol/quickforms/quickform-old"
            factory-class="org.knime.quickform.nodes.in.fileupload.FileUploadQuickFormInNodeFactory"
            >
      </node>
      <node
            category-path="/flowcontrol/quickforms/quickform-old"
            factory-class="org.knime.quickform.nodes.out.variable.VariableOutputQuickFormOutNodeFactory"
            >
      </node>
      <node
            category-path="/flowcontrol/quickforms/quickform-old"
            factory-class="org.knime.quickform.nodes.out.textarea.TextAreaOutputQuickFormOutNodeFactory"
            >
      </node>
      <node
            category-path="/flowcontrol/quickforms/quickform-old"
            factory-class="org.knime.quickform.nodes.out.filedownload.FileDownloadQuickFormOutNodeFactory"
            >
      </node>
      <node
            after="org.knime.quickform.nodes.out.filedownload.FileDownloadQuickFormOutNodeFactory"
            category-path="/flowcontrol/quickforms/quickform-old"
            factory-class="org.knime.quickform.nodes.out.image.ImageOutputQuickFormOutNodeFactory"
            >
      </node>
      <node
            category-path="/flowcontrol/quickforms/quickform-old"
            factory-class="org.knime.quickform.nodes.in.date.DateStringInputQuickFormInNodeFactory"
            >
      </node>
      <node
            category-path="/flowcontrol/quickforms/quickform-old"
            factory-class="org.knime.quickform.nodes.in.sketcher.SketcherInputQuickFormInNodeFactory"
            >
      </node>
      <node
            category-path="/flowcontrol/quickforms/quickform-old"
            factory-class="org.knime.quickform.nodes.in.dbl.DoubleInputQuickFormInNodeFactory"
            >
      </node>
      <node
            category-path="/flowcontrol/quickforms/quickform-old"
            factory-class="org.knime.quickform.nodes.in.integer.IntInputQuickFormInNodeFactory"
            >
      </node>
      <node
            category-path="/flowcontrol/quickforms/quickform-old"
            factory-class="org.knime.quickform.nodes.in.bool.BooleanInputQuickFormInNodeFactory"
            >
      </node>
      <node
            category-path="/flowcontrol/quickforms/quickform-old"
            factory-class="org.knime.quickform.nodes.in.stringselection.StringSelectionInputQuickFormInNodeFactory"
            >
      </node>
      <node
            category-path="/flowcontrol/quickforms/quickform-old"
            factory-class="org.knime.quickform.nodes.in.listbox.ListBoxInputQuickFormInNodeFactory"
            >
      </node>
      <node
            category-path="/flowcontrol/quickforms/quickform-old"
            factory-class="org.knime.quickform.nodes.in.selection.column.ColumnFilterInputQuickFormInNodeFactory"
            >
      </node>
      <node
            category-path="/flowcontrol/quickforms/quickform-old"
            factory-class="org.knime.quickform.nodes.in.selection.column.ColumnSelectionInputQuickFormInNodeFactory"
            >
      </node>
      <node
            category-path="/flowcontrol/quickforms/quickform-old"
            factory-class="org.knime.quickform.nodes.in.selection.value.ValueFilterInputQuickFormInNodeFactory"
            >
      </node>
      <node
            category-path="/flowcontrol/quickforms/quickform-old"
            factory-class="org.knime.quickform.nodes.in.selection.value.ValueSelectionInputQuickFormInNodeFactory"
            >
      </node>
      <node
            category-path="/flowcontrol/quickforms/quickform-old"
            factory-class="org.knime.quickform.nodes.in.multiselection.MultiSelectionInputQuickFormInNodeFactory"
            >
      </node>
      <node
            category-path="/flowcontrol/quickforms/quickform-old"
            factory-class="org.knime.quickform.nodes.in.selection.single.SingleSelectionInputQuickFormInNodeFactory"
            >
      </node>
      <node
            category-path="/flowcontrol/quickforms/quickform-old"
            factory-class="org.knime.quickform.nodes.in.selection.multiple.MultipleSelectionInputQuickFormInNodeFactory"
            >
      </node>
      <!-- <node
            category-path="/flowcontrol/quickforms/quickform-old"
            factory-class="org.knime.quickform.nodes.interactive.InteractiveQuickFormInNodeFactory"
            >
      </node> -->     
   </extension>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            icon="icons/quickform_category.png"
            level-id="quickform-old"
            name="Quick Form (legacy)"
            path="/flowcontrol/quickforms">
      </category>
   </extension>

</plugin>
