text.knime-tick-label.knime-selected {
	font-weight: bold;
}
path.knime-selected {
	fill: orange;
	
}
path.knime-partially-selected {
	fill: grey;
}
text.knime-tick-label.knime-partially-selected {
	font-weight: bold;
}

path.nv-bar.positive {
	cursor:pointer;
}
/* Overwrite the default title fill of pie/donut chart */
.nvd3.nv-pie text.nv-pie-title {
	fill: black;
}