<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.knime.dynamic.node.generation.dynamicNodes">
      <dynamicNodeFolder
            description="KNIME base implementations of dynamically created JavaScript enabled nodes"
            function="js"
            name="KNIME base implementations of dynamically created JavaScript enabled nodes"
            path="nodes/">
      </dynamicNodeFolder>
   </extension>

</plugin>
