<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.knime.dynamic.node.generation.dynamicNodes">
      <dynamicNodeFolder
            description="KNIME base implementations of dynamically created JavaScript enabled nodes"
            function="js"
            name="KNIME base implementations of dynamically created JavaScript enabled nodes"
            path="nodes/">
      </dynamicNodeFolder>
   </extension>
   <extension
         point="org.knime.js.core.webResources">
      <webResourceBundle
            debug="true"
            name="D3 Layout Cloud"
            usesDefine="true"
            version="1.2.4"
            webResourceBundleID="d3_layout_cloud_1.2.4_Debug">
         <webResource
               relativePathSource="js-lib/d3-cloud/d3.layout.cloud.js"
               relativePathTarget="js-lib/d3-cloud/d3.layout.cloud.js">
         </webResource>
         <importResource
               relativePath="js-lib/d3-cloud/d3.layout.cloud.js"
               type="JAVASCRIPT">
         </importResource>
         <webDependency
               webResourceBundleID="D3_4.2.6_Debug">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="D3 Layout Cloud"
            usesDefine="true"
            version="1.2.4"
            webResourceBundleID="d3_layout_cloud_1.2.4">
         <webResource
               relativePathSource="js-lib/d3-cloud/d3.layout.cloud.min.js"
               relativePathTarget="js-lib/d3-cloud/d3.layout.cloud.min.js">
         </webResource>
         <importResource
               relativePath="js-lib/d3-cloud/d3.layout.cloud.min.js"
               type="JAVASCRIPT">
         </importResource>
         <webDependency
               webResourceBundleID="D3_4.2.6">
         </webDependency>
      </webResourceBundle>
   </extension>

</plugin>
