<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/flowcontrol/quickforms/input"
            factory-class="org.knime.ext.js.node.quickform.input.molecule.MoleculeStringInputQuickFormNodeFactory">
      </node>
   </extension>
   <extension
         point="org.knime.js.core.webResources">
      <webResourceBundle
            debug="true"
            name="Ketcher Molecule Sketcher"
            usesDefine="false"
            version="1.1 Beta"
            webResourceBundleID="Ketcher_1.1">
         <webResource
               relativePathSource="js-lib/ketcher/"
               relativePathTarget="js-lib/ketcher/">
         </webResource>
         <importResource
               relativePath="js-lib/ketcher/prototype-min.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="js-lib/ketcher/raphael.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="js-lib/ketcher/base64.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="js-lib/ketcher/third_party/keymaster.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="js-lib/ketcher/util/common.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="js-lib/ketcher/util/vec2.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="js-lib/ketcher/util/set.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="js-lib/ketcher/util/map.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="js-lib/ketcher/util/pool.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="js-lib/ketcher/chem/element.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="js-lib/ketcher/chem/struct.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="js-lib/ketcher/chem/molfile.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="js-lib/ketcher/chem/sgroup.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="js-lib/ketcher/chem/struct_valence.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="js-lib/ketcher/chem/dfs.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="js-lib/ketcher/chem/cis_trans.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="js-lib/ketcher/chem/stereocenters.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="js-lib/ketcher/chem/smiles.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="js-lib/ketcher/chem/inchi.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="js-lib/ketcher/rnd/visel.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="js-lib/ketcher/rnd/restruct.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="js-lib/ketcher/rnd/restruct_rendering.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="js-lib/ketcher/rnd/render.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="js-lib/ketcher/rnd/templates.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="js-lib/ketcher/rnd/editor.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="js-lib/ketcher/rnd/elem_table.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="js-lib/ketcher/rnd/rgroup_table.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="js-lib/ketcher/ui/ui.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="js-lib/ketcher/ui/actions.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="js-lib/ketcher/reaxys/reaxys.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="js-lib/ketcher/ketcher.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="js-lib/ketcher/ketcher.css"
               type="CSS">
         </importResource>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="Molecule Input Quickform"
            version="1.0.0"
            webResourceBundleID="org.knime.ext.js.node.quickform.input.molecule.bundle">
         <webResource
               relativePathSource="js-src/org/knime/ext/js/node/quickform/input/molecule/"
               relativePathTarget="org/knime/ext/js/node/quickform/input/molecule/">
         </webResource>
         <webResource
               relativePathSource="js-lib/ketcher/"
               relativePathTarget="js-lib/ketcher/">
         </webResource>
         <importResource
               relativePath="org/knime/ext/js/node/quickform/input/molecule/MoleculeStringInput.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="js-lib/ketcher/ketcher.css"
               type="CSS">
         </importResource>
         <webDependency
               webResourceBundleID="KnimeQuickformUtils_1.0.0">
         </webDependency>
         <webDependency
               webResourceBundleID="RequireJS_2.3.3">
         </webDependency>
      </webResourceBundle>
   </extension>
   <extension
         point="org.knime.js.core.javascriptComponents">
      <javascriptComponent
            getComponentValue-method-name="value"
            implementationBundleID="org.knime.ext.js.node.quickform.input.molecule.bundle"
            init-method-name="init"
            javascriptComponentID="org.knime.ext.js.node.quickform.input.molecule"
            name="Molecule Input Quickform"
            namespace="org_knime_ext_js_node_quickform_input_molecule"
            setValidationError-method-name="setValidationErrorMessage"
            validate-method-name="validate">
      </javascriptComponent>
   </extension>

</plugin>
