body {
    font: 12px sans-serif;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

html {
	width: 100%;
	height: 100%;
}

.axis path,
line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis {
  font-weight: bold;
}

#controlContainer {
	position : relative; 
    bottom : 0px;
    width : 100%; 
    padding : 5px; 
    padding-left : 60px;
    border-top : 1px solid black; 
    background-color : white;
    box-sizing: border-box;
}