/* make sure colors on bars are correct (inherit from group) */
svg.colored .nvd3 .nv-multibar .nv-groups rect, 
svg.colored .nvd3 .nv-multibarHorizontal .nv-groups rect, 
svg.colored .nvd3 .nv-discretebar .nv-groups rect {
	fill: inherit !important;
	stroke: inherit !important;
}

text.knime-tick-label.knime-selected {
	font-weight: bold;
}
rect.knime-selected {
	fill: orange;
	
}
rect.knime-partially-selected {
	fill: grey;
}
text.knime-tick-label.knime-partially-selected {
	font-weight: bold;
}

rect.nv-bar.positive {
	cursor:pointer;
}

/* don't display the maximum grid line if present on vertical bar chart */
/*.nv-multiBarWithLegend .knime-axis.knime-y g.tick.knime-tick:nth-last-child(3) line {
    display: none;
}*/