html,
body {
    height: 100%;
    min-height: 100%;
    font-family: sans-serif;
    text-align: center;
}

.knime-layout-container {
    width: 100%;
    height: 100%;
}

.knime-svg-container {
    height: 100%;
    width: 98%;
}

.knime-svg-container .heatmap {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.axisWrapper {
    overflow: hidden;
}

.axisWrapper .active text {
    font-weight: bold;
}

.axisWrapper .knime-y > g {
    cursor: pointer;
}

.knime-svg-container line,
.knime-svg-container text {
    fill: #222;
}

.knime-svg-container .knime-tick text {
    font-size: 0.8rem;
}

.knime-svg-container text.active {
    fill: #003389;
    cursor: default;
}

.cell {
    stroke-width: 0.05rem;
    stroke: #fff;
    transition: stroke-width 0.1s ease-in;
}

.cell[selection='active'] {
    stroke-width: 0.1rem;
    stroke: #bbb;
}

.cell.active {
    stroke-width: 0.3rem;
}

.tooltip {
    position: absolute;
    font-size: 0.8rem;
    padding: 0.25rem 0.5rem;
    color: #333;
    background: #fff;
    color: #444;
    opacity: 0;
    user-select: none; /* prevent mouse pointer icon change */
    pointer-events: none; /* make sure mouseleave on the cell is always fired */
    -webkit-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.1s ease-out;
}

.tooltip.active {
    opacity: 0.9;
}

.tooltip .position {
    display: block;
    font-size: 0.8rem;
    margin-bottom: 0.4rem;
}

.tooltip .value {
    display: block;
    font-size: 1.1rem;
}

form {
    text-align: left;
    margin: 50px;
}

.paginationWrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0.5rem 0 0 0;
    text-align: center;
    background-color: #fff;
}

.pagination {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 0 1rem;
}

.pagination li {
    display: block;
    margin-left: 0.5rem;
}

.pagination li a {
    display: block;
    padding: 0.2rem 0.3rem;
    text-decoration: none;
}

.pagination .active a {
    color: #000;
}

.legend {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2px;
}
