table {
	border-collapse: collapse;
	margin-bottom: 8px;
	color: #222;
	table-layout: fixed;
	width: 100%;
	overflow: auto;
}

table caption{
	text-align:	left;
    font-size: 16px;
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

th {
	background-color: #fff0c7;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}

td, th {
	border: 1px solid #333;
	padding: 8px;
}

thead th {
	border-top-width: 2px;
}

thead th:first-child {
	border-left-width: 2px;
}

thead th:last-child {
	border-right-width: 2px;
}

tbody th {
	border-left-width: 2px;
	border-right-width: 2px;
}

tbody tr td:first-child {
	border-left-width: 2px;
}

tbody tr:first-child td:not(:last-child),
tbody tr:first-child th {
	border-top-width: 2px;
}

tbody tr:nth-last-child(2) td:not(:last-child),
tbody tr:nth-last-child(2) th {
	border-bottom-width: 2px;
}

tbody tr:not(:last-child) td:nth-last-child(2) {
	border-right-width: 2px;
}

tbody td.selected {
	outline: 3px #0089c8 solid;
}

.no-border {
	border: none;
}

body {
    font-family: sans-serif;
}

h1 {
    font-size: 24px;
    font-weight: normal;
    text-align: left;
    line-height: 0;
}

h4 {
    font-size: 12px;
    font-weight: normal;
    text-align: left;
}