html, body, div {
	margin: 0;
	padding: 0;
}

.quickformcontainer {
	font-family: Calibri,sans-serif;
	font-size: 13px;
}
input,textarea,select {
	padding: 5px;
	background-color: transparent;
	border-radius: 5px;
	border: 1px solid;
	border-color: silver;
}
button {
	margin: 5px;
}
.ui-datepicker-year {
	padding: 0;
	border: none;
}
dropdown {
	padding: 0;
	border: thin solid silver;
}
. ui-spinner {
	background-color: silver;
}
.label {
	font-size: 14px;
	font-weight: bold;
	margin: 10px 0;
}
.ui-widget {
	font-family: inherit;
	font-size: 1.0em;
}
